@media (min-width: 645px) {
  * {
    --header-size-image: 55px;
    --font-size-header-h1: 49px;

    --tittle-font-size: 43px;
    --tittle-padding: 45px 0;
    --page-width: 70%;

    --post-border-radius: 16px;
    --padding-post-container: 20px 20px 20px 0;
    --left-infos-width: 87px;
    --rigth-infos-padding: 24px 0 23px 0;
    --rigth-infos-margin: 24px;
    --post-perfil-image-size: 50px;
    --post-svg-margin: 19px 0 0 0;
    --post-svg-size: 22px;
    --post-info-height: 180px;
    --post-image-width:160px;

    --font-size-name: 19px;
    --font-size-big: 17px;
    --font-size-normal: 16px;
    --font-size-small: 11px;
    --margin-message: 7px 0 13px 0;
  }
}
@media (min-width: 835px) {
  * {
    --post-width: 70%;
    --post-margin: 20px;
    --hashtags-display: flex;
  }
}
